.login-page,
.register-page {
  background: #d6cff6;
}
.login-box,
.register-box {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}
.login-box-body,
.register-box-body {
  box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 0.2509803922);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  border-radius: 2rem;
}
.login-logo,
.register-logo {
  font-size: 24px;
  text-align: left;
}
.login-logo_top,
.register-logo_top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn--primary {
  background-color: #684EDE;
  color: #fff;
  border-radius: 8px;
  height: 48px;
  min-width: 48px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 600;
}

.box-scroll {
  height: calc(100vh - 120px - 272px);
  min-height: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.box-scroll ul {
  padding-left: 13px;
}

body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-thumb {
  background-color: #333;
}

.form-login {
  margin-top: auto;
  font-size: 16px;
  position: relative;
}
.form-login .alert {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  border-radius: 8px;
  font-size: 14px;
}
.form-group {
  height: 48px;
  margin-bottom: 20px;
  position: relative;
}
.form-group label {
  position: absolute;
  top: 12px;
  left: 10px;
  padding: 0 5px;
  background-color: #fff;
  transition: all 0.3s ease;
  pointer-events: none;
}
.form-group svg {
  position: absolute;
  right: 15px;
  top: 12px;
}
.form-group.has-error label, .form-group.has-success label, .form-group.hasValue label {
  top: -10px;
  font-size: 14px;
}
.form-group.captcha {
  border: 0;
}
.form-group.captcha .btn--primary {
  max-width: 48px;
}
.form-control {
  border-radius: 8px;
  height: 100%;
  font-size: 16px;
  width: 100%;
  font-weight: 600;
  padding: 10px 15px;
  border: 2px solid #333;
}
.form-control:focus {
  border-color: #684EDE;
}
.form-control:focus ~ label {
  top: -10px;
  font-size: 14px;
}

.captcha {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.captcha img {
  height: 48px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.thanks {
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.thanks .login-box-body {
  height: auto;
  min-height: auto;
  margin: 0 20px;
}
.thanks_inner {
  position: relative;
  text-align: center;
}
.thanks_inner_top {
  margin: -20px -20px 0;
  padding: 20px;
  background: #684EDE;
}

@media screen and (min-width: 400px) {
  .thanks .login-box-body {
    margin: 0;
  }
  .login-box,
  .register-box {
    margin: 20px auto;
  }
  .login-box-body,
  .register-box-body {
    height: calc(100vh - 40px);
    min-height: 650px;
  }
  .box-scroll {
    height: calc(100vh - 120px - 272px);
    min-height: 200px;
  }
}