:root {
  --color-primary: #FF2E00;
  --color-primary-opacity: rgba(	255, 46, 0,.3);
  --color-secondary: #FFB193;
  --color-secondary-opacity: rgba(255, 177, 147,.5);
  --color-black: #333;
  --color-white: #FFF;
  --header: rgba(0,0,0,.5);
  --header-white: rgba(255,255,255,.5);
}

.bg-secondary-opacity {
  background-color: var(--color-secondary-opacity);
}
.bg-primary-opacity {
  background-color: var(--color-primary-opacity);
}

.text-border.--active, .--active.tabs_nav_item, .header_nav_collapse .menu_list li.--active {
  position: relative;
  color: var(--color-primary);
}
.text-border.--active::after, .--active.tabs_nav_item::after, .header_nav_collapse .menu_list li.--active::after {
  content: "";
  border-bottom: 2px solid var(--color-primary);
  width: 83.3%;
  margin: auto;
  position: absolute;
  inset: 0;
  top: auto;
}

.text-shadow {
  text-shadow: 3px 3px var(--color-secondary-opacity);
}
.text-shadow.--hero {
  text-shadow: 2px 2px var(--color-black);
}

.header {
  transition: all 0.3s ease;
}
.header .open-menu svg path {
  transition: all 0.3s ease;
}
.header.--home {
  background-color: transparent;
}
.header.--home .open-menu svg path {
  stroke: var(--color-white);
}
.header.--sticky {
  background-color: var(--header);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.header.--sticky .open-menu svg path {
  stroke: var(--color-white);
}
.header_nav_collapse_inner {
  transition: all 0.3s ease;
}
.swiper {
  --swiper-pagination-bottom: 3rem;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: auto;
  right: 1.25rem;
  width: auto;
  text-align: right;
}

.swiper-pagination-bullet {
  transition: all 0.3s ease;
}
.swiper-pagination-bullet-active {
  --swiper-pagination-bullet-width: 1.5rem;
}

.ornament--slide {
  background-size: 100% auto;
  animation: slide 10s linear infinite;
}
.ornament--rotate {
  animation: rotate 100s linear infinite;
}
.ornament--rotate-sm {
  animation: rotate 10s linear infinite;
}
.ornament--rotate-sm-invert {
  animation: rotate 8s linear infinite reverse;
}

@keyframes slide {
  100% {
    background-position: 0 100%;
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.tabs_content_item {
  display: none;
}
.tabs_content_item.--active {
  display: block;
}
.btn--primary {
  box-shadow: 6px 6px 0px 0px var(--color-secondary);
}
.btn--primary:hover {
  box-shadow: 0 0 0px 0px var(--color-secondary);
}
.btn--border::before {
  content: "";
  position: absolute;
  border: 2px solid var(--color-secondary);
  border-radius: 0.5rem;
  width: calc(100% + 0.25rem);
  height: calc(100% + 0.25rem);
  left: 0.25rem;
  top: 0.25rem;
  z-index: -1;
  transition: all 0.3s ease;
}
.btn--border:hover {
  border-color: var(--color-primary);
  color: var(--color-primary);
}
.btn--border:hover::before {
  left: -0.125rem;
  top: -0.125rem;
}

.item:hover .item_title {
  color: var(--color-primary);
}
.item--news .item_fig {
  box-shadow: 0 0 0 0 var(--color-primary);
}
.item--news:hover .item_fig {
  box-shadow: 4px 4px 0 0 var(--color-primary);
}
.item--event .item_time_date, .item--event .item_time_month {
  text-shadow: 0 0 0 0 var(--color-primary);
}
.item--event:hover .item_time_date, .item--event:hover .item_time_month {
  color: var(--color-primary);
}

.breadcrumb li a {
  position: relative;
  font-weight: 600;
}
.breadcrumb li a::after {
  content: "";
  margin-left: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: var(--color-black);
  transform: rotate(-45deg);
}

.article_text p, .article_text figure {
  margin-bottom: 1rem;
}
.article_text ul, .article_text ol {
  padding-left: 1rem;
  list-style-type: disc;
  margin-bottom: 1rem;
}
.article_text ul li, .article_text ol li {
  margin-bottom: 0.5rem;
}
.article_text ol {
  list-style-type: decimal;
}

.share {
  position: relative;
}
.share::after {
  content: "Link sudah di copy";
  position: absolute;
  width: 8rem;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  background: var(--color-primary);
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
  bottom: 50%;
  right: 0;
  margin: auto;
  font-size: 12px;
  color: white;
}
.share.--copied::after {
  pointer-events: auto;
  opacity: 1;
  bottom: 100%;
}

.pagination_nav svg {
  stroke: var(--color-primary);
}
.pagination_nav:hover {
  background-color: var(--color-primary);
}
.pagination_nav:hover svg {
  stroke: var(--color-white);
}
.pagination_nav.--disable {
  pointer-events: none;
  opacity: 0.4;
}
.pagination_list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.pagination_list::-webkit-scrollbar {
  display: none;
}
.pagination_list_item.--active a, .pagination_list_item:hover a {
  background-color: var(--color-primary);
  color: var(--color-white);
}

@media (max-width: 1024px) {
  #menu:checked ~ .header_nav_collapse {
    background-color: var(--color-white);
  }
  #menu:checked ~ .header_nav_collapse .header_nav_collapse_inner {
    right: 0;
  }
  #menu:checked ~ .header_nav_collapse .close-menu {
    display: block;
  }
}
@media (min-width: 640px) {
  .text-shadow.--hero {
    text-shadow: 4px 4px var(--color-black);
  }
}
@media (min-width: 768px) {
  .swiper--img {
    margin-right: 0;
  }
  .text-shadow.--hero {
    text-shadow: 3px 3px var(--color-secondary-opacity);
  }
  .swiper {
    --swiper-pagination-bottom: 1rem;
  }
  .curve--desktop img {
    height: calc(100% + 2px);
  }
}
@media (min-width: 1024px) {
  .section--hero .overlay {
    background-image: linear-gradient(var(--color-white) 10%, var(--color-black) 30%, var(--color-black) 70%, #000 90%);
  }
  .header.--sticky {
    background-color: var(--header-white);
  }
}